/* COLORS */
/* FONTS */
/* BASIC ELEMENTS */
body {
  font-family: "Catamaran", sans-serif;
  margin: 0;
  background-color: #eff5f9; }

.progressbar {
  width: 112px;
  height: 32px;
  margin-top: 32px;
  border: 0.2em solid #9b59b6;
  background-color: #e6dcea; }

.progressbar__gauge {
  background-color: #9b59b6;
  height: 100%; }

.label__intensity {
  top: 72px; }

.label__intensity:after {
  margin-left: 2px;
  content: '%'; }
